In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
# Read your data into a DataFrame (example CSV file)
#df = pd.read_csv('C:\Users\Lenovo\Downloads\Dataset\artist.csv')
df = pd.read_csv('Downloads/Hotel Reservations.csv')

# Define your MySQL database connection parameters
username = 'root'
password =  2024
hostname = 'localhost'
database_name = 'sys'

# Create a connection string
#connection_string = f{'mysql+pymysql://{'root'}:{2024}@{'localhost'}/{'sys'}'}
!pip install pymysql
connection_string = 'mysql+pymysql://{}:{}@{}/{}'.format('root',2024,'localhost','sys')

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Specify the name of the table you want to insert the data into
#table_name = Hotel_Reservations
table_name = 'Hotel_Reservations'

# Insert the data into the MySQL database
df.to_sql(table_name, engine, if_exists='append', index=False)

engine.dispose()

print("Data loaded successfully into MySQL database.")

Requirement already satisfied: pymysql in c:\users\lenovo\anaconda3\lib\site-packages (1.1.0)
Data loaded successfully into MySQL database.

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17648\3587929617.py:24: UserWarning: The provided table name 'Hotel_Reservations' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name, engine, if_exists='append', index=False)

In [13]:
print(df.info)

<bound method DataFrame.info of       Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  \
0       INN00001             2               0                     1
1       INN00002             2               0                     2
2       INN00003             1               0                     2
3       INN00004             2               0                     0
4       INN00005             2               0                     1
...          ...           ...             ...                   ...
36270   INN36271             3               0                     2
36271   INN36272             2               0                     1
36272   INN36273             2               0                     2
36273   INN36274             2               0                     0
36274   INN36275             2               0                     1

       no_of_week_nights type_of_meal_plan  required_car_parking_space  \
0                      2       Meal Plan 1                           0
1                      3      Not Selected                           0
2                      1       Meal Plan 1                           0
3                      2       Meal Plan 1                           0
4                      1      Not Selected                           0
...                  ...               ...                         ...
36270                  6       Meal Plan 1                           0
36271                  3       Meal Plan 1                           0
36272                  6       Meal Plan 1                           0
36273                  3      Not Selected                           0
36274                  2       Meal Plan 1                           0

      room_type_reserved  lead_time  arrival_year  arrival_month  \
0            Room_Type 1        224          2017             10
1            Room_Type 1          5          2018             11
2            Room_Type 1          1          2018              2
3            Room_Type 1        211          2018              5
4            Room_Type 1         48          2018              4
...                  ...        ...           ...            ...
36270        Room_Type 4         85          2018              8
36271        Room_Type 1        228          2018             10
36272        Room_Type 1        148          2018              7
36273        Room_Type 1         63          2018              4
36274        Room_Type 1        207          2018             12

       arrival_date market_segment_type  repeated_guest  \
0                 2             Offline               0
1                 6              Online               0
2                28              Online               0
3                20              Online               0
4                11              Online               0
...             ...                 ...             ...
36270             3              Online               0
36271            17              Online               0
36272             1              Online               0
36273            21              Online               0
36274            30             Offline               0

       no_of_previous_cancellations  no_of_previous_bookings_not_canceled  \
0                                 0                                     0
1                                 0                                     0
2                                 0                                     0
3                                 0                                     0
4                                 0                                     0
...                             ...                                   ...
36270                             0                                     0
36271                             0                                     0
36272                             0                                     0
36273                             0                                     0
36274                             0                                     0

       avg_price_per_room  no_of_special_requests booking_status
0                   65.00                       0   Not_Canceled
1                  106.68                       1   Not_Canceled
2                   60.00                       0       Canceled
3                  100.00                       0       Canceled
4                   94.50                       0       Canceled
...                   ...                     ...            ...
36270              167.80                       1   Not_Canceled
36271               90.95                       2       Canceled
36272               98.39                       2   Not_Canceled
36273               94.50                       0       Canceled
36274              161.67                       0   Not_Canceled

[36275 rows x 19 columns]>